#num {
  border: 3px solid #aaa;
}

.btn {
  padding: 10px 30px;
  min-width: 100px;
  border: none;
  margin: 20px 0;
}

.ok {
  background: rgba(0, 0, 255, 0.7);
  color: white;
  border-radius: 3px;
}
